//Fonts
$ff-main: 'Raleway', sans-serif;
$fz-default: 1.6rem;
$fw-bold: 700;
$fw-normal: 400;

//Colors
$primary-clr: #f82e49;
$secondary-clr: #0581e6;
$light-clr: #fff;
$bg-clr: whitesmoke;
$grey-clr: #ccc;


