@import '../../../../styles/variables.scss';

.header {
    box-shadow: 0 .6rem 1.3rem rgba(black, .2);

    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 2rem;
    }     
    
    &__search-wrapper {
        display: flex;
        flex-grow: 1;
        min-width: 30rem;
    }

    &__input-wrapper {
        margin-right: 2rem;
        max-width: 30rem;
        width: 100%;
    }
}